.target {
  display: flex;
  flex-wrap: wrap;
  margin: 5px;
}
.target div {
  margin: 3px;
  width: 200px;
}
.target div img {
  max-width: 200px;
  max-height: 170px;
}
.target h2 {
  color: darkslateblue;
}
.target p {
  color: green;
}
.targetTwo {
  display: flex;
  margin-top: 30px;
}
.targetTwo img {
  max-height: 270px;
  max-width: 270px;
}
.produkt-card {
  margin: 17px;
}
.product-title {
  color: #2f8dff;
  margin-left: 30px;
}